.user-details {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 40px;
}

.user-details-avatar, .user-details div {
  margin-bottom: -1px;
  box-sizing: border-box;
  margin-bottom: -1px;
  border: 1px solid lightgray;
}

.user-details div {
  padding: 15px 20px;
}

.user-details-avatar {
  height: 300px;
}

.user-details-name {
  font-size: 22px;
  font-weight: 500;
}